<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TODOリスト</title>
        <link rel="stylesheet" href="main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    </head>
    <body>
        <div id="app">
            <h1>ToDoリスト</h1>
            <!-- 選択用フォーム -->
            <label v-for="label in options">
                <input type="radio"
                    v-model="current"
                    v-bind:value="label.value">{{ label.label }}
            </label>

            ({{ computedTodos.length }} 件を表示)

            <table>
                <!-- テーブルヘッダー -->
                <thead v-pre>
                    <tr>
                        <th class="id">ID</th>
                        <th class="comment">タスク</th>
                        <th class="endDate">期限</th>
                        <th class="state">状態</th>
                        <th class="button">-</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ここに<tr>でtodoの要素表示 -->
                    <tr 
                    v-for="item in computedTodos"
                    v-bind:key="item.id"
                    v-bind:class="{done:item.state}">
                        <!-- 要素の情報 -->
                        <th>{{ item.id }}</th>
                        <td class="comment">{{ item.comment }}</td>
                        <td>{{ item.date }}</td>
                        <td class="state">
                            <!-- 状態変更ボタン -->
                            <button v-on:click="doChangeState(item)">
                                {{ labels[item.state] }}
                            </button>
                        </td>
                        <td class="button">
                            <!-- 削除ボタン -->
                            <button v-on:click="doRemove(item)">
                                削除
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2>新しい作業の追加</h2>
            <form class="add-form" v-on:submit.prevent="doAdd">
                <!-- タスク入力フォーム -->
                タスク　<input type="text" ref="comment">
                <input type="date" v-model="endDate" ref="date" />
                <!-- 追加ボタンのモック -->
                <button type="submit">追加</button>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-toasted"></script>
        <script src="main.js"></script>
    </body>
</html>